---
const { title, empresa, description, link, img } = Astro.props;
---

<article
  class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
>
  <div class="w-full md:w-1/2">
    <div
      class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
    >
      <img
        alt={title}
        title={title}
        class="object-cover w-full h-56 duration-500 sm:h-full md:group-hover:scale-105"
        src={img}
      />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-xl font-bold text-yellow-400">
      {title}
    </h3>
    <h4 class="font-semibold text-2xl text-gray-600 dark:text-white">
      {empresa}
    </h4>

    <div class="flex flex-wrap mt-2">
      <p class="mt-2 text-gray-700 dark:text-gray-400">{description}</p>
    </div>
  </div>
</article>
