---
const {title, empresa, description, link, img} = Astro.props
---


<article class="flex flex-col sm:flex-row items-center gap-9">
  <div class="flex flex-col">
    <a href={link} target="_blank">
        <img src={img} alt={title} title={title} class="w-full sm:w-[300px] object-cover lg:w-full cursor-pointer rounded-md shadow-md transition-all hover:shadow-xl hover:shadow-white/30">
    </a>
  </div>

  <div class="flex flex-col justify-center gap-4 max-w-96">
    <h3 class="text-xl font-bold text-yellow-400">{title}</h3>
    <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{empresa}</h4>
    <p class="text-pretty flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">{description}</p>
    
  </div>
  
</article>