---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import JavaScript from "./icons/JavaScript.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import React from "./icons/React.astro";
import MongoDB from "./icons/MongoDB.astro";
import Nodejs from "./icons/Nodejs.astro";
import ASTRO from "./icons/ASTRO.astro";
import Postgresql from "./icons/Postgresql.astro";
import Prisma from "./icons/Prisma.astro";

const TAGS = {
  MongoDB: {
    name: "MongoDB",
    class: "bg-[#10aa50] text-white",
    icon: MongoDB,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7e018] text-black",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e44d26] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#379ad6] text-white",
    icon: CSS,
  },
  React: {
    name: "React",
    class: "bg-[#4ad5ff99] text-white",
    icon: React,
  },
  Next: {
    name: "Next",
    class: "bg-black text-white",
    icon: NextJS,
  },
  Nodejs: {
    name: "Nodejs",
    class: "bg-[#46473d] text-[#87cf30]",
    icon: Nodejs,
  },
  Prisma: {
    name: "Prisma",
    class: "bg-white text-[#133a51ff]",
    icon: Prisma,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff6209] text-white",
    icon: ASTRO,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-[#33679155] text-white",
    icon: Postgresql,
  },
};
const PROJECTS = [
  {
    title: "Auténticos",
    description:
      "Proyecto real realizado para Laureano Gieco (creador de contenido) para facilitar la venta y organización de sus mentorías sobre mentalidad. Esta página consta de autenticación, SEO, base de datos, roles de usuarios, pasarela de pagos como Mercado Pago y Binance, dashboard de administrador y de usuarios, servidor y buena UX/UI",
    link: "https://autenticos.onrender.com/",
    image: "/projects/autenticos.webp",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Nodejs, TAGS.MongoDB],
  },
  {
    title: "WK Services",
    description:
      "WK Services es un proyecto innovador de reparación de electrodomésticos en Coronel Suárez, con una interfaz moderna, un dashboard de gestión de reparaciones y clientes, y un enfoque en la seguridad.",
    link: "https://wk-services.vercel.app/",
    image: "/projects/wkservices.webp",
    tags: [TAGS.Next, TAGS.TAILWIND, TAGS.Prisma, TAGS.PostgreSQL],
  },
  {
    title: "CODELUXE",
    description:
      "Emprendimiento realizado para trabajar de forma Freelance brindando servicios de Desarrollo Web FullStack, Edición de Video, Producción Musical, Diseño Gráfico y de Logos y Marketing Digital",
    link: "https://codeluxe.tech",
    image: "/projects/codeluxe.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JavaScript],
  },
  {
    title: "La Mestiza",
    description:
      "Página web para La Mestiza (restaurante), que ofrece una experiencia única a sus clientes. Mediante un código QR, los usuarios pueden acceder a una plataforma que proporciona información sobre el lugar, incluyendo datos de contacto, ubicación, la carta presentada de manera estética y original. Cuenta con una óptima optimización y SEO para mejorar su visibilidad.",
    link: "https://lamestiza.netlify.app/",
    image: "/projects/mestiza.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JavaScript],
  },
  {
    title: "Club Deportivo Sarmiento",
    description:
      "Deportivo Sarmiento es un club deportivo para el cual se desarrolló una aplicación web que facilita la administración del flujo de socios, tipos de socios, cobradores, recibos, gastos, y proporciona estadísticas sobre métodos de pago, entre otras funcionalidades. Se trata de una aplicación muy completa y con altos estándares de seguridad.",
    image: "/projects/deportivo.webp",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Nodejs, TAGS.MongoDB],
  },
];

// img en shots x: 20 y:3 para que queden todas iguales
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              title={title}
              class="object-cover object-top w-full h-56 duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              <LinkButton
                href={link ?? undefined}
                target={link ? "_blank" : undefined}
              >
                <Link class="size-4" />
                Preview
              </LinkButton>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
