---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import JavaScript from "./icons/JavaScript.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import React from "./icons/React.astro";
import MongoDB from "./icons/MongoDB.astro";
import Nodejs from "./icons/Nodejs.astro";
import ASTRO from "./icons/ASTRO.astro";
import Postgresql from "./icons/Postgresql.astro";

const TAGS = {
  MongoDB: {
    name: "MongoDB",
    class: "bg-[#10aa50] text-white",
    icon: MongoDB,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7e018] text-black",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e44d26] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#379ad6] text-white",
    icon: CSS,
  },
  React: {
    name: "React",
    class: "bg-[#4ad5ff99] text-white",
    icon: React,
  },

  Nodejs: {
    name: "Nodejs",
    class: "bg-[#46473d] text-[#87cf30]",
    icon: Nodejs,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff6209] text-white",
    icon: ASTRO,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-[#33679155] text-white",
    icon: Postgresql,
  },
};
const PROJECTS = [
  {
    title: "Auténticos",
    description:
      "Proyecto real realizado para Laureano Gieco para facilitar la venta y organización de sus mentorías sobre mentalidad. Esta página consta de autenticación, SEO, base de datos, roles de usuarios servidor y buena UX/UI",
    link: "https://autenticos.onrender.com/",
    image: "/projects/autenticos.webp",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Nodejs, TAGS.MongoDB],
  },
  {
    title: "Instituto 48 - Cooperadora",
    description:
      "Aplicación web privada con altos estándares de seguridad y autenticación para gestionar pagos de cooperadora destinados a los alumnos del Instituto. Este proyecto garantiza la confidencialidad y la integridad de los datos sensibles de manera efectiva. El proyecto incluye filtrados por carreras, gestión de datos en tiempo real, búsqueda por alumno y es autogestionable.",
    // link: "https://autenticos.onrender.com/",
    image: "/projects/cooperadora.webp",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Nodejs, TAGS.PostgreSQL],
  },
  {
    title: "CODELUXE",
    description:
      "Emprendimiento realizado junto a un grupo de amigos para trabajar de forma Freelance vendiendo servicios de Desarrollo Web FullStack, Edición de Video, Producción Musical, Diseño Gráfico y de Logos y Marketing Digital",
    link: "https://codeluxe.tech",
    image: "/projects/codeluxe.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.JavaScript],
  },
];

// img en shots x: 20 y:3 para que queden todas iguales
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              title={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
