---
// import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import JavaScript from "./icons/JavaScript.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import React from "./icons/React.astro";
import MongoDB from "./icons/MongoDB.astro";
import Nodejs from "./icons/Nodejs.astro";
import ASTRO from "./icons/ASTRO.astro";
import Postgresql from "./icons/Postgresql.astro";
import Prisma from "./icons/Prisma.astro";
import GitHub from "./icons/GitHub.astro";

const TAGS = {
  MongoDB: {
    name: "MongoDB",
    class: "bg-[#10aa50] text-white",
    icon: MongoDB,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7e018] text-black",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e44d26] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#379ad6] text-white",
    icon: CSS,
  },
  React: {
    name: "React",
    class: "bg-[#4ad5ff99] text-white",
    icon: React,
  },
  Next: {
    name: "Next",
    class: "bg-black text-white",
    icon: NextJS,
  },
  Nodejs: {
    name: "Nodejs",
    class: "bg-[#46473d] text-[#87cf30]",
    icon: Nodejs,
  },
  Prisma: {
    name: "Prisma",
    class: "bg-white text-[#133a51ff]",
    icon: Prisma,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff6209] text-white",
    icon: ASTRO,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-[#33679155] text-white",
    icon: Postgresql,
  },
};
const PROJECTS = [
  {
    title: "Codeluxe",
    description:
      "Codeluxe es un emprendimiento freelance cofundado junto a mi socio, enfocado en el desarrollo de aplicaciones web personalizadas y marketing digital con enfoque en copywriting persuasivo.",
    link: "https://codeluxe.vercel.app",
    githubLink: "https://github.com/nicoplacente/codeluxe",
    image: "/projects/codeluxe.webp",
    tags: [TAGS.Next, TAGS.TAILWIND, TAGS.JavaScript],
  },
  {
    title: "TheMenu (Solo UI)",
    description:
      "TheMenu fue un emprendimiento orientado a digitalizar cartas de restaurantes mediante suscripciones mensuales. El proyecto fue descartado y no continuará en desarrollo. Actualmente, solo se conserva la interfaz visual como muestra en el portfolio. La app no está operativa, pero el código completo está disponible en GitHub como repositorio público.",
    link: "https://themenu-yourcard.vercel.app/",
    githubLink: "https://github.com/nicoplacente/the-menu",
    image: "/projects/themenu.webp",
    tags: [TAGS.Next, TAGS.TAILWIND, TAGS.Prisma, TAGS.PostgreSQL],
  },
  {
    title: "Auténticos",
    description:
      "Fue un proyecto real para la venta y gestión de mentorías de Laureano Gieco. Incluye autenticación, roles, pasarela de pagos, dashboard y optimización SEO. Actualmente, la web no está en uso por decisión del cliente.",
    link: "https://autenticos.onrender.com/",
    githubLink: "https://github.com/nicoplacente/autenticos",
    image: "/projects/autenticos.webp",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Nodejs, TAGS.MongoDB],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, githubLink }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              title={title}
              class="object-cover object-top w-full h-56 duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <p class="mt-2 text-gray-700 dark:text-gray-400">{description}</p>
            <footer class="flex justify-start mt-4 gap-x-4">
              <LinkButton href={githubLink} target="_blank">
                <GitHub class="size-4" />
                Code
              </LinkButton>
              <LinkButton href={link} target="_blank">
                <Link class="size-4" />
                Preview
              </LinkButton>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>

<!-- <LinkButton
href={link ?? undefined}
target={link ? "_blank" : undefined}
>
<Link class="size-4" />
Preview
</LinkButton> -->
